CONFIG_IDF_TARGET="esp32s3"
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_CSI_OUTPUT_VOFA=y
CONFIG_CSI_VOFA_DECIMATE=1
CONFIG_CSI_FORWARD_IP="192.168.1.100"
CONFIG_CSI_FORWARD_PORT=34567
